.footer{
    width: 100%;
    padding-left: 6.2%;
    position: absolute;
    bottom: 0;
}


.footer-social-icons ul li{
    float: left;
    /* padding: 8px 10px; */
    border-left: 1px solid rgba(52,65,107);
    border-color: rgba(55,64,93);
    cursor: pointer;
}
.footer-social-icons ul li:last-child{
    border-right: 1px solid rgba(52,65,107);
}
.footer-social-icons ul li a{
    text-decoration: none;
    display: block;
    position: relative;
    padding: 18px 20px;
    transition: all 0.3s ease-in-out;
}
.footer-social-icons ul li a i{
    color: white;
    font-size: 20px;
}
.footer-social-icons ul li a.twitter:hover{
  background-color: #46C0fb;
}
.footer-social-icons ul li a.facebook:hover{
    background-color: #4863ae;
  }
  .footer-social-icons ul li a.google-plus:hover{
    background-color: #dd4b39;
  }
  .footer-social-icons ul li a.instagram:hover{
    background-color: #4d4f54;
  }
  .footer-last-para{
      float: right;
     
      margin-top: 23px;
  }
  .footer-last-para p{
      font-size: 12px;
      color: white;
  }
