.home{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    background-color: #fff;
}
.home-info::after{
    content: " ";
    border-bottom: 2px solid #3d4a6e;
    
    display: block;
    width: 30px;
    margin: 20px auto 10px;
}
.home-info h3{
    color: #3d4a6e;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    /* padding-bottom: 4px; */
}
.home-info h1{
    color: #3d4a6e;
    /* font-size: 27px; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    /* letter-spacing: 0.05em; */
    /* padding-bottom: 4px; */
}
.home-info h4{
    font-size: 13px;
    font-weight: 700;
    color: #3d4a6e;
    font-family: 'Open Sans', sans-serif;
}
.home-para p{
    font-size: 13px;
    line-height: 25px;
    word-spacing: 1px;
    margin: 0 auto;
    font-weight: 500;
    margin-top: 35px;
    width: 45%;
    color: #3d4a6e;
    letter-spacing: 0.03em;
}
.home-num{
    padding-top: 10px;

}
.home-num i{
   display: inline-block;
   color: #3d4a6e;
   font-size: 15px;
   margin-right: 10px;
}
.home-num p{
    display: inline-block;
    color: #3d4a6e;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
